<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<%- include ('partials/_header') %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h3 class="mb-4">Editar datos</h3>
                <div class="card">
                    <div class="card-body">
                        <form action="actualizarP/<%=data.id%>" method="post">
                            <div class="form-group">
                                <label for="nomEmpresa">Nombre del producto:</label>
                                <input type="text" name="nombre" value="<%=data.nombre%>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="direccion">Modelo:</label>
                                <input type="text" name="modelo" value="<%=data.modelo%>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="ciudad">Precio:</label>
                                <input type="text" name="precio" value="<%=data.precio%>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="estado">Categoria:</label>
                                <input type="text" name="categoria" value="<%=data.categoria%>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="codigoP">Proveedor:</label>
                                <input type="text" name="idProveedor" value="<%=data.idProveedor%>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="correoElec">Stock:</label>
                                <input type="text" name="stock" value="<%=data.stock%>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Descripcion:</label>
                                <input type="text" name="descripcion" value="<%=data.descripcion%>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Imagen:</label>
                                <input type="text" name="imagen" value="<%=data.imagen%>" class="form-control" required>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('partials/_footer') %>
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->